build
out
.vscode
.idea
*.log
*.txt
*.elf
*.img
*.objdump
*.bin
*.sh

scripts/*
!scripts/*.sh
!scripts/*.py

bootrom/generated-*

riscv/*
!riscv/insns
riscv/insns/*
!riscv/insns/jalr.h
!riscv/insns/div.h
!riscv/insns/divu.h
!riscv/insns/divuw.h
!riscv/insns/divw.h
!riscv/insns/rem.h
!riscv/insns/remu.h
!riscv/insns/remuw.h
!riscv/insns/remw.h
